{% extends 'ChatApp/home.html' %}

{% load static %}

{% block content-chat %}

<section class="page-section" id="{% url 'salaChat' %}">
    <div class="conteiner text-center">
        <br/>
        <h1>SALA DE CHAT con {{ recep }} {{ variable_prueba }}</h1>
        <div id="wrapper">
            <div id="menu">
                <!--Usuario logeado (emisor)-->
                <h3 class="masthead-heading text-white text-uppercase mb-0">Bienvenidx! {{ user.username }} </h3><b></b>
                <div style="clear:both"></div>
            </div>
             
            <!--Chats con usuario-->
            <div id="chatbox">

                <!--table>
                    <thead>
                      </thead>
                      <tbody-->

                        {% for histo in historial %}
                        {% if histo.emisor == user.username %}

                        <div class="">
                            <div class="container_chat">
                                <p>{{ histo.mensaje }}</p>
                                <span class="time-right">{{ histo.fecha }}</span>
                              </div>
                        </div>

                        {% else %}

                            
                        <div>
                            <div class="container_chat darker_chat">
                                <p>{{ histo.mensaje }}</p>
                                <span class="time-right">{{ histo.fecha }}</span>
                              </div>
                        </div>

                        {% endif %}
                        {% endfor %}

                        <!--{% for histo in historial %}
                        <tr>
                          <th>{{ histo.emisor }}</th>
                          <th>{{ histo.mensaje }}</th>
                          <th>{{ histo.fecha }}</th>
                        </tr>
                        {% endfor %}-->
                <!--/table-->

            </div>

            <!--Envío de mensaje-->
            <form name="message" action="{% url 'salaChat' %}" method="POST"> {% csrf_token %}
                
                <input type="hidden" name="emisor" value="{{ user.username }}"/>
                <input type="hidden" name="receptor" value="{{ recep }}"/>
                <input type="hidden" name="jon" value="origen_sala_chat"/>

                <input name="submitmsg" type="submit"  id="submitmsg" value="|0|" size="10" />
                <!---Escribir mensajes-->
                <input name="text" type="text" id="text" size="64"/>
                <!---Enviar mensaje--> 
                <input name="submitmsg" type="submit"  id="submitmsg" value="ENVIAR" />
            </form>            

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3/jquery.min.js"></script>
        <script type="text/javascript">
        // jQuery Document
        $(document).ready(function(){
           
        });
        </script>
    </div>
</section>
{% endblock %}